*{
  font-family: 'Architects Daughter', cursive;
}


  #playfield{
    width:50%;
    height:50%;
    margin: auto;
    

  }

  img{
    width:350px;
    height:350px;
    margin-left: 200px;
    margin-bottom:10px;
  }

  #stufftoflex{
    display:flex;
    flex-direction: row;
  }

  #heading{
    text-align:center;
    margin-bottom: 50px;
    font-size:40px;
  }
  #sub{
    font-size:30px;
  }
  .active{
    font-weight: bold;
    border: #000;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    margin:5px;
    background-color:#d5c4b4;
    padding:2px;
  }
  .inactive{
    border: #000;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    margin:5px;
    background-color:#d5c4b4;
    padding: 2px;
  }
  .img-overlay-wrap {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
  }
  
  .img-overlay-wrap img { /* <= optional, for responsiveness */
     display: block;
     max-width: 100%;
     height: auto;
  }
  
  .img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  .clicked{
fill:"black";
  }
  .item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 5000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}